:root {
    --cor-primaria: #0D6EFD;
    --cor-secundaria: #72d7ff;
    --cor-terciaria: aliceblue;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aliceblue !important;
}

p, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.cabecalho {
    background-color: var(--cor-primaria);
}

.container-fluid > .collapse > .navbar-nav > .nav-item > .nav-link {
    color: aliceblue;
}

.container-fluid > a {
    font-size: clamp(14px, 4vw, 20px); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: var(--cor-primaria);
    position: relative;
    bottom: 0%;
}

.bd-footer > .container > .row > p {
    color: aliceblue;
}

main {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 3%;
    gap: 5%;

    font-size: clamp(14px, 4vw, 20px);
}