:root {
    --cor-primaria: #0D6EFD;
    --cor-secundaria: #72d7ff;
    --cor-terciaria: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue !important;
}

p, a, h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.cabecalho {
    background-color: var(--cor-primaria);
}

.container-fluid > .collapse > .navbar-nav > .nav-item > .nav-link {
    color: aliceblue;
}

.container-fluid > a {
    font-size: clamp(14px, 4vw, 20px); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
            
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    align-items: center;
    padding: 100px;
    font-weight: 400;
}

footer > p {
    text-align: center;
    margin: auto;
}

.conteudo {
    margin: 3%;
    margin-left: 17%;
    margin-bottom: 100px !important;

}

.conteudo > .texto > h1 {
    font-size: clamp(14px, 4vw, 20px);
}

.conteudo > .texto > p {
    font-size: clamp(14px, 4vw, 20px);
}

.conteudo > form > fieldset > .mb-3 > input {
    width: 20%;
}

.conteudo > form > fieldset > .mb-3 > textarea {
    width: 30%;
}

